In [6]:
a = 'abc'
b = 'acb'
a == b

False

In [7]:
mylist = [3, 5, 4, 9, 1, 8, 2, 1]
newlist = [i for i in mylist if (i%2)==0]
print(newlist)

[4, 8, 2]

In [8]:
newlist2 = [i for i in mylist if (i>3)]
print(newlist2)

[5, 4, 9, 8]

In [10]:
mylist = [[3, 5], [4, 9], [1, 8], [2, 1]]
print(mylist)

[[3, 5], [4, 9], [1, 8], [2, 1]]

In [11]:
newlist = [i[0] for i in mylist]
print(newlist)

[3, 4, 1, 2]

In [12]:
newlist =  [i[1] for i in mylist if(i[1]%2) ==1]
print(newlist)

[5, 9, 1]

In [22]:
import pandas as pd
birdata = pd.read_csv('bird_tracking.csv')
birdata.head(10)

,altitude,date_time,device_info_serial,direction,latitude,longitude,speed_2d,bird_name
0,71,2013-08-15 00:18:08+00,851,NaN,49.419859,2.120733,0.191484,Eric
1,68,2013-08-15 00:48:07+00,851,NaN,49.419880,2.120746,2.739698,Eric
2,68,2013-08-15 01:17:58+00,851,NaN,49.420310,2.120885,0.360099,Eric
3,73,2013-08-15 01:47:51+00,851,NaN,49.420359,2.120859,0.039658,Eric
4,69,2013-08-15 02:17:42+00,851,NaN,49.420331,2.120887,0.107988,Eric
5,54,2013-08-15 02:47:38+00,851,NaN,49.420375,2.120840,0.697276,Eric
6,57,2013-08-15 03:02:33+00,851,NaN,49.420352,2.120901,2.049224,Eric
7,65,2013-08-15 03:17:27+00,851,NaN,49.420342,2.120809,2.194272,Eric
8,59,2013-08-15 03:32:35+00,851,NaN,49.420319,2.120860,1.800014,Eric
9,107,2013-08-15 03:47:48+00,851,NaN,49.420286,2.121301,2.968736,Eric

In [30]:
birdata.columns

Index(['altitude', 'date_time', 'device_info_serial', 'direction', 'latitude',
       'longitude', 'speed_2d', 'bird_name'],
      dtype='object')

In [16]:
birdata.date_time[0:3]

0    2013-08-15 00:18:08+00
1    2013-08-15 00:48:07+00
2    2013-08-15 01:17:58+00
Name: date_time, dtype: object

In [29]:
ix = birdata.bird_name == "Sanne"
date = birdata.date_time[ix]
print(date[:1])

40923    2013-08-15 00:01:08+00
Name: date_time, dtype: object

In [78]:
from numpy import NaN
NaN not in birdata['direction'] #direction 목록에 NaN값 말고 더 있는지 찾기

True

In [35]:
birdata['bird_name'].unique()

array(['Eric', 'Nico', 'Sanne'], dtype=object)

In [74]:
birdata_name = pd.unique(birdata.bird_name) #이게 원래 답

In [75]:
birdata_name

array(['Eric', 'Nico', 'Sanne'], dtype=object)

In [65]:
print(date[-1:])

61930    2014-04-30 23:59:34+00
Name: date_time, dtype: object

In [70]:
import datetime as dt
dt.datetime.today()

datetime.datetime(2020, 7, 7, 11, 22, 30, 589961)

In [71]:
time1 = dt.datetime.today()

In [72]:
time2 = dt.datetime.today()
time2 - time1

datetime.timedelta(seconds=2, microseconds=111069)

In [68]:
time1 = date[:1]
time2 = date[-1:]
time1 - time2

40923    2013-08-15 00:01:08+00
Name: date_time, dtype: object